.center{
    text-align: center;
	color: white;
}
.footer{
	color: white;
	text-align: right;
}

body{
    background-color: black;
}

h1{
    font-weight: bold;
    text-align: center;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
